.acceuil {
    font-family: "Corn";
    color: whitesmoke;
    text-align: center;
    background-image: url("../images/bg_imercy.png");
    background-size: cover;
    background-position: center;
}

.h2_acc {
    padding-top: 24%;
    padding-bottom: 2%;
    font-size: 5em;
}

.p_acc {
    padding-bottom: 15%;
    font-size: 3em;
}