.bu_trans {
    transition-duration: 0.4s;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 20px;
    
    padding: 7px 32px;
    margin-left: 1em;
    color: white;
}

.bu_trans:hover {
    background-color: white;
    color: black;
}

.bu_scroll {
    transition-duration: 0.4s;
    background-color: transparent;
    border: 2px solid indianred;
    border-radius: 100%;
    
    padding: 1% 1.2%;
    margin-bottom: 5%;
    margin-left: auto;
    margin-top: auto;
    width: 20;
    color: white;
}

.bu_scroll:hover {
    background-color: indianred;
    color: black;
}