.presentation {
    background-color: white;
    background-size: cover;
}

.div_pr {
    margin: auto;
    margin-bottom: 5%;
}

.div_t_pr {
    padding-bottom: 1%;
    padding-top: 3%;
    text-align: center;
    font-family: "Corn";
    word-wrap: break-word;
}

.div_i_g {
    display: flex;
    justify-content: space-between;
    font-family: "MoonR";
    word-wrap: break-word;
}

.h2_pf {
    text-align: center;
}

.img_pf {
    padding-left: 7%
}